<nav>
    <div>
        <a href="/">Login Page</a>
        <a href="/">saved Items</a>
    </div>
    <div>
    
            
            <a href="/users/logout">Log Out</a>    
    
            <a href="/users/login">Log In</a>
            <a href="/users/new">Sign up</a>

    </div>
</nav>