
<h1>Welcome To Mero Health</h1>
<h3>Use Your Mero Health to login or Create an Account</h3>
<% if (!user) { %>
<a href="users/new" class="'button">Create your Account</a>
<a href="users/login" class='button'>User Login</a>
<% } %>



























