<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome page</title>
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
</head>
<body>
    <div class='wrap'>
    <header id ='showcase'>
        <h1 class='first'>Welcome to Mero Health</h1>
        <img class='img' src='img/healthcare.jpg'>
        <h4 class='first'> Use your Mero Health Login or        
                    Create an Account</h4> 
        
    <div> 
        <button class='sign' ><a href='signIn.ejs'type='button'>Sign In </a> </button>
        <button class='create' ><a href='newAccount.ejs'type='button'>Create Account </a> </button>
        <button class='guest' ><a href='guest.ejs'type='button'>Continue As Guest </a> </button>
    

    </div>
    </header>
    </div>
</body>
</html>










